body
{
	background-color:rgb(229,227,223);
	padding: 0;
	margin: 0;	

}

#chart_div {
    margin-left: 5%;
    margin-right: 5%;
}

#title_chart {
    text-align: center;
}

.jumbotron {
    text-align: center;
    background-color: gray;
    border-bottom: 3px solid orange;
    
}

.jumbotron p{
    margin-left: 20%;
    margin-right: 20%;
}