body
{



}

#chart_div {
    margin-left: 5%;
    margin-right: 5%;
}

#title_chart {
    text-align: center;
}

.jumbotron {
    text-align: center;
}

.jumbotron p{
    margin-left: 20%;
    margin-right: 20%;
}